*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{
background:linear-gradient(
135deg,
#0f172a,
#1e293b,
#334155
);
color:white;
}

.navbar{
display:flex;
justify-content:center;
align-items:center;
padding:20px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(10px);
}

.logo{
display:flex;
gap:10px;
font-size:24px;
font-weight:700;
}

.nav-links{
display:flex;
gap:25px;
}

.nav-links a{
color:white;
text-decoration:none;
}

.hero{
padding:80px 20px;
text-align:center;
}

.hero h1{
font-size:52px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
opacity:.8;
}

.hero-icon{
font-size:70px;
margin-top:30px;
}

.form-section{
display:flex;
justify-content:center;
padding:40px 20px;
}

.glass-card{
width:100%;
max-width:700px;
padding:30px;
border-radius:25px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(15px);
}

form{
display:flex;
flex-direction:column;
gap:15px;
}

input,select{
padding:15px;
border:none;
border-radius:12px;
background:rgba(255,255,255,.1);
color:white;
}

select option {
  background: #1e293b;
  color: white;
}
button{
padding:15px;
border:none;
border-radius:12px;
cursor:pointer;
font-size:16px;
background:#3b82f6;
color:white;
}

button:hover{
background:#2563eb;
}

.checkbox{
display:flex;
gap:10px;
align-items:center;
}

.bmi-box{
margin:15px 0;
padding:15px;
border-radius:10px;
background:rgba(255,255,255,.1);
}

.bmi-box span{
font-size:24px;
margin-left:10px;
font-weight:bold;
}

.prediction-card{
margin-top:20px;
padding:20px;
background:rgba(255,255,255,.08);
border-radius:15px;
text-align:center;
}

.progress{
height:12px;
margin-top:10px;
background:#444;
border-radius:20px;
overflow:hidden;
}

.progress-fill{
height:100%;
background:linear-gradient(
90deg,
#22c55e,
#3b82f6
);
}

.loader-container{
text-align:center;
margin-top:20px;
}

.loader{
width:50px;
height:50px;
margin:auto;
border:5px solid rgba(255,255,255,.2);
border-top:5px solid white;
border-radius:50%;
animation:spin 1s linear infinite;
}

@keyframes spin{
100%{
transform:rotate(360deg);
}
}

.footer{
margin-top:50px;
padding:20px;
text-align:center;
background:rgba(255,255,255,.08);
}

@media(max-width:768px){

.hero h1{
font-size:34px;
}

.navbar{
flex-direction:column;
gap:15px;
}

.nav-links{
flex-wrap:wrap;
justify-content:center;
}
}